{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>{% block title %}Netfix - Home Services Platform{% endblock %}</title>
  </head>
  <body>
    {% include 'main/navbar.html' %}
    
    <main class="content">
      {% block content %} replace me {% endblock %}
    </main>

    <footer class="footer">
      <div class="footer-content">
        <p>&copy; Netfix - On-Demand Home Services Platform. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
