<nav class="navbar">
    <ul>
        <li class="logo-item">
            <a href="/"><img src="/static/css/logo.png" alt="Netfix Logo" class="nav-logo"></a>
        </li>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/services/">Services</a>
            <ul>
                <li><a href="/services/most_requested">Most Requested</a></li>
                <li><a href="/services/air-conditioner">Air Conditioner</a></li>
                <li><a href="/services/carpentry">Carpentry</a></li>
                <li><a href="/services/electricity">Electricity</a></li>
                <li><a href="/services/gardening">Gardening</a></li>
                <li><a href="/services/home-machines">Home Machines</a></li>
                <li><a href="/services/house-keeping">House Keeping</a></li>
                <li><a href="/services/interior-design">Interior Design</a></li>
                <li><a href="/services/locks">Locks</a></li>
                <li><a href="/services/painting">Painting</a></li>
                <li><a href="/services/plumbing">Plumbing</a></li>
                <li><a href="/services/water-heaters">Water Heaters</a></li>
            </ul>
        </li>
        {% if request.user.is_authenticated %}
            {% if request.user.is_customer %}
                <li><a href="/customer/{{ request.user.username }}">Profile</a></li>
            {% else %}
                <li><a href="/company/{{ request.user.username }}">Profile</a></li>
            {% endif %}
            <li><a href="/logout/">Logout</a></li>
        {% else %}
            <li><a href="/register/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
        {% endif %}
    </ul>
</nav>
