{% extends 'main/base.html' %}
{% block title %}
    Services List
{% endblock %}
{% block content %}
    <p class="title">Services</p>
    {% if user.is_company %}
        <a class="create_service" href="/services/create"> Create Service</a>
    {% endif %}
    <div class='services_list'>
        {% if services %}
            {% for service in services.all %}
                <div style="display: ruby;">
                    <div class='service_list_info'>
                        <li><a href="/services/{{service.id}}">{{ service.name }}</a>-- {{ service.price_hour }} BHD/hour</li>
                        <pre>{{ service.description }}</pre>
                    </div>
                    <p style="display:block; margin: 0; float: right;font-size: small; margin-right: 30px;">by <a href="/company/{{service.company.user}}">{{service.company.user}}</a></p>
                </div>
                {% if forloop.counter != services.all|length %}
                    <div class="line"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>Sorry No services available yet</h2>
        {% endif %}
     </div>
{% endblock %}
